:root {
  view-transition-name: none;
}
@media (prefers-reduced-motion: reduce) {
  :root::view-transition-old(*),
  :root::view-transition-new(*) {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
